<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<h1>我是标题</h1>
<form action="/upload" method="post" enctype="multipart/form-data">
	<label for="username">用户名</label><input type="text" name="username" id="username"><br>
	<label for="password">密码</label><input type="password" name="password" id="password"><br>
	<label>上传图片</label><input type="file" name="img"><br>
	<label>上传图片</label><input type="file" name="img"><br>
	<input type="submit" value="提交"><br>
</form>

<!--<form action="/multiupload" method="post" enctype="multipart/form-data">-->
<!--	<label>多图片上传</label><input type="file" name="mutilimg"><br>-->
<!--	<label>多图片上传</label><input type="file" name="mutilimg"><br>-->
<!--	<label>多图片上传</label><input type="file" name="mutilimg"><br>-->
<!--	<label>多图片上传</label><input type="file" name="mutilimg"><br>-->
<!--	<input type="submit" value="提交"><br>-->
<!--</form>-->

</body>
</html>